<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <img
      src="./assets/images/freshcart-logo.svg"
      alt="logo"
      class="cursor-pointer me-2"
      routerLink="home"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link px-2"
            routerLink="/main/home"
            routerLinkActive="active-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-2"
            routerLink="/main/products"
            routerLinkActive="active-link"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-2"
            routerLink="categories"
            routerLinkActive="active-link"
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-2"
            routerLink="brands"
            routerLinkActive="active-link"
            >Brands</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto my-2 mb-lg-0 flex-row gap-1">
        <!-- whishlist icon  -->
        <li>
          <a class="nav-link cursor-pointer" routerLink="wishlist"
            ><i class="fa-solid fa-heart position-relative"></i
          ></a>
        </li>
        <!-- cart icon  -->
        <li>
          <a class="nav-link cursor-pointer" routerLink="cart"
            ><i class="fa-solid fa-cart-shopping position-relative"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer"
            ><i class="fa-brands fa-tiktok"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer"
            ><i class="fa-brands fa-youtube"></i
          ></a>
        </li>
      </ul>
      <a class="nav-link cursor-pointer px-2" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
